body {
  background-color: black;
}

.newComment {
  width: 635px;
  padding-bottom: 40px;
  margin-left: 27px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  outline: none;
  font-size: 16px;
  resize: none;
}

.dark {
  width: 620px;
  padding-bottom: 40px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  outline: none;
  font-size: 16px;
  resize: none;
}

.editSend {
  margin-top: 10px;
}

::-webkit-input-placeholder {
  color: #e3e3e3;
}
::-moz-placeholder {
  color: #e3e3e3;
}
:-ms-input-placeholder {
  color: #e3e3e3;
}
:-moz-placeholder {
  color: #e3e3e3;
}

.childImage {
  width: 50px;
  height: 50px;
}

@media (min-width: 320px) and (max-width: 568px) {
  .newComment {
    width: 200px;
    height: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    outline: none;
    font-size: 12px;
    resize: none;
  }

  .user,
  .chat,
  .clock {
    width: 18px;
    height: 18px;
  }

  .dark {
    width: 200px;
    height: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    outline: none;
    font-size: 12px;
    resize: none;
  }
}
